* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
body {background-image: url('images/bg.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: 50% 50%;}

.warp {position: relative;top:50%;transform: translateY(30%);}

.text {font-weight: 700; font-size: 48px; text-align: center; margin-bottom: 40px; color: #fff; line-height: 56px;}
.text span {color: rgba(255,255,255,.3);}

.logo {position: relative; width: 210px;  margin: 0 auto;}
.logo img {width:100%; }

.down {display: block; position: relative; width: 240px;  margin: 0 auto; margin-top: 100px;}
.down img { width: 100%; }

.insta { display: block; position: relative; width: 32px;  margin: 0 auto; margin-top: 120px; }
.insta img {width: 100%;}

@media screen and (max-width:414px) {
  .warp {transform: translateY(10%);}
  .text {font-size: 30px; line-height: 40px;}
  .logo {width: 140px;}
  .down {width: 180px;}
  .insta {width: 36px;}
}
